lastDoc/6-ta/IDE-DC.wsdl

<!-- 
	File: 		IDE-DC.wsdl
	Version:	1.0
	Date:		22 August 2008
-->
<wsdl:definitions name="ide" targetNamespace="http://gisis.imo.org/XML/LRIT/2008" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://gisis.imo.org/XML/LRIT/2008" xmlns:posrep="http://gisis.imo.org/XML/LRIT/positionReport/2008" xmlns:posreq="http://gisis.imo.org/XML/LRIT/positionRequest/2008" xmlns:surpic="http://gisis.imo.org/XML/LRIT/sarSurpicRequest/2008" xmlns:receipt="http://gisis.imo.org/XML/LRIT/receipt/2008" xmlns:systemStatus="http://gisis.imo.org/XML/LRIT/systemStatus/2008" xmlns:journalReport="http://gisis.imo.org/XML/LRIT/journalReport/2008" xmlns:pricingRequest="http://gisis.imo.org/XML/LRIT/pricingRequest/2008" xmlns:pricingUpdate="http://gisis.imo.org/XML/LRIT/pricingUpdate/2008" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
	<wsdl:types>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://gisis.imo.org/XML/LRIT/2008">
			<xs:import namespace="http://gisis.imo.org/XML/LRIT/positionReport/2008" schemaLocation="ShipPositionReport.xsd"/>
			<xs:import namespace="http://gisis.imo.org/XML/LRIT/positionRequest/2008" schemaLocation="ShipPositionRequest.xsd"/>
			<xs:import namespace="http://gisis.imo.org/XML/LRIT/sarSurpicRequest/2008" schemaLocation="SARSURPICRequest.xsd"/>
			<xs:import namespace="http://gisis.imo.org/XML/LRIT/receipt/2008" schemaLocation="Receipt.xsd"/>
			<xs:import namespace="http://gisis.imo.org/XML/LRIT/systemStatus/2008" schemaLocation="SystemStatus.xsd"/>
			<xs:import namespace="http://gisis.imo.org/XML/LRIT/journalReport/2008" schemaLocation="JournalReport.xsd"/>
			<xs:import namespace="http://gisis.imo.org/XML/LRIT/pricingRequest/2008" schemaLocation="PricingRequest.xsd"/>
			<xs:import namespace="http://gisis.imo.org/XML/LRIT/pricingUpdate/2008" schemaLocation="PricingUpdate.xsd"/>

			<xs:simpleType name="responseType">
				<xs:restriction base="xs:string">
					<xs:enumeration value="Success"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:element name="Response">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="response" type="tns:responseType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</wsdl:types>

	<wsdl:message name="ShipPositionReportRequest">
		<wsdl:part name="params" element="posrep:ShipPositionReport"/>
	</wsdl:message>
	<wsdl:message name="ShipPositionReportResponse">
		<wsdl:part name="params" element="tns:Response"/>
	</wsdl:message>

	<wsdl:message name="ShipPositionRequestRequest">
		<wsdl:part name="params" element="posreq:ShipPositionRequest"/>
	</wsdl:message>
	<wsdl:message name="ShipPositionRequestResponse">
		<wsdl:part name="params" element="tns:Response"/>
	</wsdl:message>

	<wsdl:message name="SARSURPICRequestRequest">
		<wsdl:part name="params" element="surpic:SARSURPICRequest"/>
	</wsdl:message>
	<wsdl:message name="SARSURPICRequestResponse">
		<wsdl:part name="params" element="tns:Response"/>
	</wsdl:message>

	<wsdl:message name="ReceiptRequest">
		<wsdl:part name="params" element="receipt:Receipt"/>
	</wsdl:message>
	<wsdl:message name="ReceiptResponse">
		<wsdl:part name="params" element="tns:Response"/>
	</wsdl:message>

	<wsdl:message name="DDPUpdateResponse">
		<wsdl:part name="params" element="tns:Response"/>
	</wsdl:message>

	<wsdl:message name="SystemStatusRequest">
		<wsdl:part name="params" element="systemStatus:SystemStatus"/>
	</wsdl:message>
	<wsdl:message name="SystemStatusResponse">
		<wsdl:part name="params" element="tns:Response"/>
	</wsdl:message>

	<wsdl:message name="JournalReportRequest">
		<wsdl:part name="params" element="journalReport:JournalReport"/>
	</wsdl:message>
	<wsdl:message name="JournalReportResponse">
		<wsdl:part name="params" element="tns:Response"/>
	</wsdl:message>

	<wsdl:message name="PricingRequestRequest">
		<wsdl:part name="params" element="pricingRequest:PricingRequest"/>
	</wsdl:message>
	<wsdl:message name="PricingRequestResponse">
		<wsdl:part name="params" element="tns:Response"/>
	</wsdl:message>

	<wsdl:message name="PricingUpdateRequest">
		<wsdl:part name="params" element="pricingUpdate:PricingUpdate"/>
	</wsdl:message>
	<wsdl:message name="PricingUpdateResponse">
		<wsdl:part name="params" element="tns:Response"/>
	</wsdl:message>


	<wsdl:portType name="idePortType">
		<wsdl:operation name="ShipPositionReport">
			<wsdl:input message="tns:ShipPositionReportRequest"/>
			<wsdl:output message="tns:ShipPositionReportResponse"/>
		</wsdl:operation>
		<wsdl:operation name="ShipPositionRequest">
			<wsdl:input message="tns:ShipPositionRequestRequest"/>
			<wsdl:output message="tns:ShipPositionRequestResponse"/>
		</wsdl:operation>
		<wsdl:operation name="SARSURPICRequest">
			<wsdl:input message="tns:SARSURPICRequestRequest"/>
			<wsdl:output message="tns:SARSURPICRequestResponse"/>
		</wsdl:operation>
		<wsdl:operation name="Receipt">
			<wsdl:input message="tns:ReceiptRequest"/>
			<wsdl:output message="tns:ReceiptResponse"/>
		</wsdl:operation>
		<wsdl:operation name="SystemStatus">
			<wsdl:input message="tns:SystemStatusRequest"/>
			<wsdl:output message="tns:SystemStatusResponse"/>
		</wsdl:operation>
		<wsdl:operation name="JournalReport">
			<wsdl:input message="tns:JournalReportRequest"/>
			<wsdl:output message="tns:JournalReportResponse"/>
		</wsdl:operation>
		<wsdl:operation name="PricingRequest">
			<wsdl:input message="tns:PricingRequestRequest"/>
			<wsdl:output message="tns:PricingRequestResponse"/>
		</wsdl:operation>
		<wsdl:operation name="PricingUpdate">
			<wsdl:input message="tns:PricingUpdateRequest"/>
			<wsdl:output message="tns:PricingUpdateResponse"/>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="ideServiceBinding" type="tns:idePortType">
		<soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="ShipPositionReport">
			<soap12:operation soapAction=""/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ShipPositionRequest">
			<soap12:operation soapAction=""/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="SARSURPICRequest">
			<soap12:operation soapAction=""/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="Receipt">
			<soap12:operation soapAction=""/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="SystemStatus">
			<soap12:operation soapAction=""/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="JournalReport">
			<soap12:operation soapAction=""/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="PricingRequest">
			<soap12:operation soapAction=""/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="PricingUpdate">
			<soap12:operation soapAction=""/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ideService">

		<wsdl:port name="idePort" binding="tns:ideServiceBinding">
			<soap12:address location="http://localhost:8080/ide"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
