DataCenterTestClient/Service References/DataCenterTypes/DDPUpdate1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:lrit="http://gisis.imo.org/XML/LRIT/types/2008" xmlns="http://gisis.imo.org/XML/LRIT/ddpUpdate/2008" xmlns:xmime="http://www.w3.org/2005/05/xmlmime" elementFormDefault="qualified" targetNamespace="http://gisis.imo.org/XML/LRIT/ddpUpdate/2008" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="Types.xsd" namespace="http://gisis.imo.org/XML/LRIT/types/2008" />
  <xs:simpleType name="messageTypeType">
    <xs:restriction base="xs:integer">
      <xs:enumeration value="10" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="DDPUpdate" type="DDPUpdateType" />
  <xs:complexType name="DDPUpdateType">
    <xs:sequence>
      <xs:element name="MessageType" type="messageTypeType" />
      <xs:element name="MessageId" type="lrit:msgIDType" />
      <xs:element name="ReferenceId" type="lrit:msgIDType" />
      <xs:element name="UpdateType">
        <xs:simpleType>
          <xs:restriction base="xs:integer">
            <xs:enumeration value="0" />
            <xs:enumeration value="1" />
            <xs:enumeration value="2" />
            <xs:enumeration value="3" />
            <xs:enumeration value="4" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Message" type="lrit:messageType" />
      <xs:element name="TimeStamp" type="xs:dateTime" />
      <xs:element name="DDPFileVersionNum" type="lrit:ddpVersionNumOrIncrementalVersionType" />
      <xs:element xmime:expectedContentTypes="application/zip" name="DDPFile" type="xs:base64Binary" />
    </xs:sequence>
    <xs:attribute default="0" name="test" type="lrit:testType" use="optional" />
    <xs:attribute name="schemaVersion" type="xs:decimal" use="required" />
  </xs:complexType>
</xs:schema>