DataCenterTestClient/Service References/DataCenterTypes/ShipPositionRequest1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:lrit="http://gisis.imo.org/XML/LRIT/types/2008" xmlns="http://gisis.imo.org/XML/LRIT/positionRequest/2008" elementFormDefault="qualified" targetNamespace="http://gisis.imo.org/XML/LRIT/positionRequest/2008" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="Types.xsd" namespace="http://gisis.imo.org/XML/LRIT/types/2008" />
  <xs:simpleType name="messageTypeType">
    <xs:restriction base="xs:integer">
      <xs:enumeration value="4" />
      <xs:enumeration value="5" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="accessTypeType">
    <xs:restriction base="xs:integer">
      <xs:enumeration value="0" />
      <xs:enumeration value="1" />
      <xs:enumeration value="2" />
      <xs:enumeration value="3" />
      <xs:enumeration value="5" />
      <xs:enumeration value="6" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="requestTypeType">
    <xs:restriction base="xs:integer">
      <xs:enumeration value="0" />
      <xs:enumeration value="1" />
      <xs:enumeration value="2" />
      <xs:enumeration value="3" />
      <xs:enumeration value="4" />
      <xs:enumeration value="5" />
      <xs:enumeration value="6" />
      <xs:enumeration value="7" />
      <xs:enumeration value="8" />
      <xs:enumeration value="9" />
      <xs:enumeration value="10" />
      <xs:enumeration value="11" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="requestDurationType">
    <xs:attribute name="startTime" type="xs:dateTime" use="optional" />
    <xs:attribute name="stopTime" type="xs:dateTime" use="optional" />
  </xs:complexType>
  <xs:simpleType name="distanceType">
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="0" />
      <xs:maxInclusive value="9999" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ShipPositionRequest" type="ShipPositionRequestType" />
  <xs:complexType name="ShipPositionRequestType">
    <xs:sequence>
      <xs:element name="MessageType" type="messageTypeType" />
      <xs:element name="MessageId" type="lrit:msgIDType" />
      <xs:element name="IMONum" type="lrit:imoNumType" />
      <xs:element name="DataUserProvider" type="lrit:lritIDType" />
      <xs:element name="AccessType" type="accessTypeType" />
      <xs:choice minOccurs="0">
        <xs:element name="Port" type="lrit:locodeType" />
        <xs:element name="PortFacility" type="lrit:imoPortFacilityNumberType" />
        <xs:element name="Place" type="lrit:placeCodeType" />
      </xs:choice>
      <xs:element name="Distance" type="distanceType" />
      <xs:element name="RequestType" type="requestTypeType" />
      <xs:element minOccurs="0" name="RequestDuration" type="requestDurationType" />
      <xs:element name="DataUserRequestor" type="lrit:lritIDType" />
      <xs:element name="TimeStamp" type="xs:dateTime" />
      <xs:element name="DDPVersionNum" type="lrit:ddpVersionNumType" />
    </xs:sequence>
    <xs:attribute default="0" name="test" type="lrit:testType" use="optional" />
    <xs:attribute name="schemaVersion" type="xs:decimal" use="required" />
  </xs:complexType>
</xs:schema>