DataCenterTestClient/Service References/DataCenterTypes/Types1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://gisis.imo.org/XML/LRIT/types/2008" elementFormDefault="qualified" targetNamespace="http://gisis.imo.org/XML/LRIT/types/2008" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="lritIDType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-4][0-9]{3}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="contractingGovernmentLRITIDType">
    <xs:restriction base="lritIDType">
      <xs:pattern value="[1][0-9]{3}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="sarServiceLRITIDType">
    <xs:restriction base="lritIDType">
      <xs:pattern value="[2][0-9]{3}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="dataCentreLRITIDType">
    <xs:restriction base="lritIDType">
      <xs:pattern value="[3][0-9]{3}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="aspLRITIDType">
    <xs:restriction base="lritIDType">
      <xs:pattern value="[4][0-9]{3}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="cspLRITIDType">
    <xs:restriction base="lritIDType">
      <xs:pattern value="[4][0-9]{3}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ddpServerLRITIDType">
    <xs:restriction base="lritIDType">
      <xs:enumeration value="0001" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ideLRITIDType">
    <xs:restriction base="lritIDType">
      <xs:enumeration value="0002" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="lritCoordinatorLRITIDType">
    <xs:restriction base="lritIDType">
      <xs:enumeration value="0003" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="msgIDType">
    <xs:restriction base="xs:string">
      <xs:pattern value="([0-9]{4})(20[0-2][0-9])(0[1-9]|1[0-2])(0[1-9]|[1-2][0-9]|3[0-1])([0-1][0-9]|2[0-3])([0-5][0-9])([0-5][0-9])([0-9]{5})" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="refIDType">
    <xs:restriction base="xs:string">
      <xs:pattern value="()|(([0-9]{4})(20[0-2][0-9])(0[1-9]|1[0-2])(0[1-9]|[1-2][0-9]|3[0-1])([0-1][0-9]|2[0-3])([0-5][0-9])([0-5][0-9])([0-9]{5}))" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="imoNumType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{7}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="shipNameType">
    <xs:restriction base="xs:string">
      <xs:minLength value="0" />
      <xs:maxLength value="50" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="mmsiNumType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{9}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="testType">
    <xs:restriction base="xs:integer">
      <xs:enumeration value="0" />
      <xs:enumeration value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="responseTypeType">
    <xs:restriction base="xs:integer">
      <xs:enumeration value="1" />
      <xs:enumeration value="2" />
      <xs:enumeration value="3" />
      <xs:enumeration value="4" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="longitudeType">
    <xs:restriction base="xs:string">
      <xs:length value="11" />
      <xs:pattern value="([0-1][0-7][0-9]\.[0-5][0-9]\.[0-9][0-9]\.[eEwW])|([0][8-9][0-9]\.[0-5][0-9]\.[0-9][0-9]\.[eEwW])|(180\.00\.00\.[eEwW])" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="latitudeType">
    <xs:restriction base="xs:string">
      <xs:length value="10" />
      <xs:pattern value="([0-8][0-9]\.[0-5][0-9]\.[0-9][0-9]\.[nNsS])|(90\.00\.00\.[nNsS])" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="messageType">
    <xs:restriction base="xs:string">
      <xs:maxLength value="256" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ddpVersionNumType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]+:[0-9]+" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ddpIncrementalVersionNumType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]+" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ddpVersionNumOrIncrementalVersionType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]+(:[0-9]+)?" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="pricingVersionNumType">
    <xs:restriction base="xs:positiveInteger" />
  </xs:simpleType>
  <xs:simpleType name="locodeType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{2}([A-Z0-9]){3}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="imoPortFacilityNumberType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{2}([A-Z0-9]){3}-[0-9]{4}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="placeCodeType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{3}([0-9]){3}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="percentageValueType">
    <xs:restriction base="xs:float">
      <xs:pattern value="[0-9]*(.[0-9]{1,2})?" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="priceValueType">
    <xs:restriction base="xs:float">
      <xs:pattern value="[0-9]*(.[0-9]{1,4})?" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="currencyType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{3}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="polygonType">
    <xs:sequence>
      <xs:element minOccurs="0" form="qualified" name="Caption" type="xs:string" />
      <xs:element form="qualified" name="PosList" type="polygonPosListType" />
    </xs:sequence>
    <xs:attribute name="areaID" type="xs:string" use="required" />
  </xs:complexType>
  <xs:simpleType name="posType">
    <xs:restriction base="xs:string">
      <xs:pattern value="\s*-?[0-9]{1,3}\.[0-9]{2}\s+-?[0-9]{1,2}\.[0-9]{2}\s*" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="polygonPosListType">
    <xs:restriction base="xs:string">
      <xs:pattern value="\s*(\s*-?[0-9]{1,3}\.[0-9]{2}\s+-?[0-9]{1,2}\.[0-9]{2}\s*)(\s+-?[0-9]{1,3}\.[0-9]{2}\s+-?[0-9]{1,2}\.[0-9]{2}\s*){2,}" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>